.top-header{
    /* background-color: black; */
    background-color: #170041;
    color: white;
    width: 100%;
    height: 48px;
     display: flex;
    align-items: center;
}
.top-wrapper{
     display: flex;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.link-icons{
    display: flex;
}
.link-icons > div{
 margin-right: 20px;
}
.contact-details{
    display: flex;
    align-items: center;
    font-size: 16px;
    
}
.contact-details p{
    margin-right: 20px;
}
.contact-details a{
   color: whitesmoke;
   text-decoration: none;
}